/* ------------------------- Navbar ------------------------- */

nav.navbar {
    position: absolute;
}

nav.navbar li {
    float: left;
    padding: 15px;
    list-style: none;
}

nav.navbar ul li a {
    text-decoration: none;
    color: #000;
}

nav.navbar ul button {
    background: none;
    border-color: #00f;
    color:#00f;
    padding: 7.5px;
    border-radius: 5px;
}

nav.navbar ul button:hover {
    background-color: #00f;
    color: #fff;
}

/* ------------------------- Pricing ------------------------- */
.center {
    text-align: center;
    margin-top: 200px;
}

.position-center {
    margin-left: 20%;
    margin-top: 75px;
}

div.card-body h2.card-title {
    text-align: center;
    background-color: lightgray;
}

h5 {
    text-align: center;
}

button.card-button {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    border-color: #00f;
    color: #00f;
}

button.card-button:hover {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    background-color: #00f;
    border-color: #00f;
    color: #fff;
}

.slider-form {
    display: block;
    margin: auto;
    text-align: center;
}

/* ------------------------- Modal ------------------------- */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

/* ------------------------- Footer ------------------------- */

footer.footer {
    margin-top: 100px;
    margin-left: 100px;
}

ul.footer-list li.list-item {
    list-style: none;
}

ul.footer-list li.list-item a {
    text-decoration: none;
    color: #000;
}